#jumpMenu {
    background-color: gold;
    border: 1px solid black;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#jumpMenu h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    justify-self: center;
}
